.character-resume {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 607.89px;
  background-color: var(--bg-dark);
}

.character-resume__content {
  width: 100%;
  max-width: 960px;
  height: 100%;
  background-color: var(--bg-dark);
}

.character-resume__character-photo {
  width: 100%;
  height: 397.89px;
  border-width: 0px 0px 4px 0px;
}

.character-photo__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.character-resume__character-info {
  position: relative;
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: column;
}

.character-info__name {
  height: 38px;
  width: 100%;
  font-family: inherit;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
  color: var(--bg-light);
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.character-info__description {
  height: 76px;
  font-family: inherit;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-s);
  color: var(--bg-light);
  overflow: hidden;
}

.character-resume__cut {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12.86px;
  height: 12.86px;
  background-color: var(--bg-light);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

@media (min-width: 834px) {
  .character-resume {
    height: 278px;
  }
  .character-resume__content {
    display: flex;
    flex-direction: row;
  }

  .character-resume__character-photo {
    height: 100%;
  }

  .character-resume__character-info {
    width: 100%;
    height: 100%;
  }

  .character-info__description {
    height: 57px;
  }
}

/* TODO: Check later what is the right desktop breakpoint*/
@media (min-width: 900px) {
  .character-resume {
    height: 320px;
  }

  .character-resume__character-photo {
    width: 320px;
  }

  .character-resume__character-info {
    width: 640px;
  }

  .character-info__name {
    height: 47px;
    /* width: 272px; */
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }
}
