.circular-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circular-loader__outer,
.circular-loader__inner,
.circular-loader__smallest {
  border: 5px solid var(--bg-dark);
  border-radius: 50%;
  position: absolute;
  animation: sizeChange 1.5s ease-in-out infinite;
}

.circular-loader__outer {
  width: 80px;
  height: 80px;
  animation: sizeChangeOuter 1.5s ease-in-out infinite;
}

.circular-loader__inner {
  width: 60px;
  height: 60px;
  animation: sizeChangeInner 1.5s ease-in-out infinite;
}

.circular-loader__smallest {
  width: 30px;
  height: 30px;
  animation: sizeChangeSmallest 1.5s ease-in-out infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes sizeChangeOuter {
  0%, 100% {
    width: 80px;
    height: 80px;
  }
  50% {
    width: 70px;
    height: 70px;
  }
}

@keyframes sizeChangeInner {
  0%, 100% {
    width: 60px;
    height: 60px;
  }
  50% {
    width: 50px;
    height: 50px;
  }
}

@keyframes sizeChangeSmallest {
  0%, 100% {
    width: 40px;
    height: 40px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
}
