.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(172.5px, 1fr));
  gap: var(--gap-l);
  padding: 0 var(--spacing-2);
}

@media (min-width: 834px) {
  .character-list {
      padding: 0 var(--spacing-6);
  }    
}
