.page-layout {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    padding: var(--spacing-3) var(--spacing-2);
}

@media (min-width: 834px) {
    .page-layout {
        padding: var(--spacing-3) var(--spacing-6);
    }    
}
